<% bookCoverClass = locals.large ? 'book-cover-large' : '' %> 
<% bookGridClass = locals.large ? 'book-grid-large' : '' %> 

<div class="book-grid <%= bookGridClass %> ">
    <% books.forEach(book => { %>
        <%- include('./_book_item.ejs', { book: book, large: locals.large }) %>
    <% }) %>
</div>